.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #7a1cac;
  text-align: center;
  margin-bottom: 20px;
}

.user-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.1em;
  color: #2e073f;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ebd3f8;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #7a1cac;
}

.submit-button {
  padding: 10px 15px;
  background-color: #7a1cac;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.submit-button:hover {
  background-color: #9b59b6;
}

.info {
  margin-top: 20px;
  font-size: 1.1em;
  color: #2e073f;
  text-align: center;
}

.reset-button {
  padding: 8px 12px;
  background-color: #ff5f6d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9em;
  margin-top: 10px;
}

.reset-button:hover {
  background-color: #ff7f83;
}
